In [19]:
from time import process_time_ns 
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
t1_start = process_time_ns()

In [20]:
df = pd.read_csv('Research_Test.csv')

In [21]:
df

                  Case    Target
0        All Charctars  Username
1                Empty  Username
2         7 Charactars  Password
3         1 Lower Case  Password
4         1 Upper Case  Password
5             1 Number  Password
6  1 Special Charactar  Password

In [22]:

encoder = preprocessing.LabelEncoder()
for i in df.columns:
    if isinstance(df[i][0], str):
        df[i] = encoder.fit_transform(df[i])
df

   Case  Target
0     5       1
1     6       1
2     4       0
3     0       0
4     3       0
5     1       0
6     2       0

In [23]:
edf = pd.read_csv('Research_Test.csv')

In [24]:
edf

                  Case    Target
0        All Charctars  Username
1                Empty  Username
2         7 Charactars  Password
3         1 Lower Case  Password
4         1 Upper Case  Password
5             1 Number  Password
6  1 Special Charactar  Password

In [25]:
x = df.drop(['Target'], axis =1 ) 
y =df.drop(['Case'], axis = 1 )

In [26]:
#Import Library
#Import other necessary libraries like pandas, numpy...
from sklearn import tree
#Assumed you have, X (predictor) and Y (target) for training data set and x_test(predictor) of test_dataset
# Create tree object 
model = tree.DecisionTreeClassifier() # for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  
# model = tree.DecisionTreeRegressor() for regression
# Train the model using the training sets and check score
model.fit(x, y)
score  = model.score(x, y)
print('The accuracy of the algorithm is :',score)

The accuracy of the algorithm is : 1.0

In [27]:
def test(test, df = df,edf= edf):
    
    model = tree.DecisionTreeClassifier() # for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  

    model.fit(X, y)
    
    prediction = model.predict([[test]])
    prediction = int(prediction)
    value = df[df['Target']==prediction]
    df.drop(df[df['Target']==prediction],axis = 1)
    return value

In [28]:
#test(1)

In [29]:
#test(0)

In [30]:
t1_stop = process_time_ns() 

print("Elapsed time during the whole program in nanoseconds:",  t1_stop-t1_start)

Elapsed time during the whole program in nanoseconds: 203125000